<!doctype html>
  <head>
    <title>3D Printing for Boardgames</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    
    <style>
      .loader {
          position: relative;
          left: 40%;
          top: 5%;
          z-index: 1;
          border: 16px solid #f3f3f3; /* Light grey */
          border-top: 16px solid #3498db; /* Blue */
          border-radius: 50%;
          width: 120px;
          height: 120px;
          animation: spin 2s linear infinite;
      }
    
      @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
      }
    </style>
    
    <script>
      function myFunction() {
          var x = document.getElementById("myloader");
          if (x.style.display === "none") {
              x.style.display = "block";
          } else {
              x.style.display = "none";
          }
      }
    
      var options = {
        valueNames: [ 'name', 'born' ]
      };
    
      var userList = new List('users', options);
    
    </script>
  </head>

  <body>
    <div class="jumbotron">
      {% if name %}
        <h1>{{ name }} has {{ total_games }} games in their collection.</h1>
      {% else %}
        <h1>{{ name }} does not exist</h1>
      {% endif %}
      <p>
        {{ matching_games }} of those games have 3D-printable accessories listed on the <a href='https://boardgamegeek.com/geeklist/186909'>3D Prints for Board Games</a> GeekList.
      </p>
    </div>

    <p>
      <ul>
        <li><a href="https://boardgamegeek.com/geeklist/186909/item/">GAME1</a><small> posted on VARIABLE</small></li>
        <ul>
          <li><a href="https://link_to_printable_thing">THING1</a></li>
          <li><a href="https://link_to_printable_thing">THING2</a></li>
        </ul>
        <li><a href="https://boardgamegeek.com/geeklist/186909/item/">GAME2</a><small> posted on VARIABLE</small></li>
        <ul>
          <li><a href="https://link_to_printable_thing">THING3</a></li>
          <li><a href="https://link_to_printable_thing">THING4</a></li>
        </ul>
      </ul>
    </p>
  </body>
</html>